<div class="container">
  <div class="card card-container">
    <h3>Fill the form to Register!</h3>
    <form class="form-signin" (ngSubmit) = "onSignUp(f)" #f="ngForm">
      <!-- <div class="form-group" formGroup="personal"> -->
          <!-- <input type="text" id="fullname" name ="fullname"class="form-control" placeholder="Full Name"ngModel required>
          <input type="date" id="dob" class="form-control" name ="dob"placeholder="dd/yy/mm"ngModel required> -->
      <!-- </div> -->
      <br>
      <!-- <div class="form-group"> -->
          <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address"ngModel required >
          <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password"ngModel required>
          <!-- <input type="password" id="rpassword"name="rpassword" class="form-control" placeholder="Repeat Password"ngModel required>
          <input type="mobile" id="mobile"name="mobile" class="form-control" placeholder="e.g 9876543210"ngModel required> -->
      <!-- </div> -->
      <br>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" [disabled]="!f.valid">Sign Up</button>
      <button class="btn btn-danger" type="reset">Reset</button>
    </form>

    <a routerLink="/login" class="forgot-password">
      Already registered? Click here to login.
    </a>
  </div>
</div>