<div class="row">
  <div class="col-xs-12">
    <h1>User Details</h1>
    <table class="table table-bordered">
      <tr>
        <th><h3>Username</h3></th>
        <td><h3>test@test.com</h3></td>
      </tr>
      <tr>
        <th><h3>Full Name</h3></th>
        <td><h3>TEst test</h3></td>
      </tr>
      <tr>
          <th><h3>Email</h3></th>
          <td><h3>test@test.com</h3></td>
        </tr>
        <tr>
            <th><h3>Mobile</h3></th>
            <td><h3>9876543210</h3></td>
          </tr>
    </table>
  </div>
</div>
<div class="row">
    <div class="col-sm-3 pull-right">
      <button type="button" class="btn btn-danger">Edit Profile</button>
    </div>
  </div>