<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <form class="form-signin" (ngSubmit)="onSignin(f)" #f="ngForm">
            <input type="email" id="inputEmail" name = "inputEmail" class="form-control"  placeholder="Email address" ngModel required autofocus>
            <input type="password" id="inputPassword" name = "inputPassword" class="form-control"  placeholder="Password" ngModel required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" >Sign in</button>
        </form>
        <!-- <a href="#" class="forgot-password">
            Forgot the password?
        </a><br> -->
        <a routerLink= "/signup"class="forgot-password"><p style="color: red">Signup!</p></a>

        <span *ngIf="verified"><p>Invalid username or password!!!</p></span>
    </div><!-- /card-container -->
</div>