<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img src="../../../assets/IMAGES.png" alt="" class="img-responsive">
      <a href=""><h4 class="text-center">Images</h4></a>
    </div>
    <div class="col-sm-3">
        <img src="../../../assets/VIDEOS.png" alt="" class="img-responsive">
        <a href=""><h4 class="text-center">Videos</h4></a>
      </div>
      <div class="col-sm-3">
          <img src="../../../assets/DOCUMENTS.png" alt="" class="img-responsive">
          <a href=""><h4 class="text-center">Documents</h4></a>
        </div>
  </div>
  <div class="row">
      <div class="col-sm-3">
          <img src="../../../assets/folder.png" alt="" class="img-responsive">
          <a href=""><h4 class="text-center">Others</h4></a>
        </div>
  </div>
</div>