<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Overview.</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <img src="../../../assets/IMAGES.png" alt="" class="img-responsive">
      <a routerLink="/user/1/images"><h4 class="text-center">Images</h4></a>
    </div>
    <div class="col-sm-3">
        <img src="../../../assets/VIDEOS.png" alt="" class="img-responsive">
        <a routerLink="/user/1/videos"><h4 class="text-center">Videos</h4></a>
      </div>
      <div class="col-sm-3">
          <img src="../../../assets/DOCUMENTS.png" alt="" class="img-responsive">
          <a routerLink="/user/1/documents"><h4 class="text-center">Documents</h4></a>
        </div>
  </div>
  <div class="row">
      <div class="col-sm-3">
          <img src="../../../assets/folder.png" alt="" class="img-responsive">
          <a routerLink="/user/1/others"><h4 class="text-center">Others</h4></a>
        </div>
  </div>
</div>