<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="../../assets/E-godaam.png"  class="img-responsive img-thumbnail" alt="">
    </div>
    <div class="col-sm-6">
      <h1 >Welcome to E-Godaam</h1>
      <hr>
      <h3>One stop for all digital storage problems.</h3>
    </div>
  </div>
  <hr>
  <div class="row" id="aboutus">
    <div class="col-sm-6" >
      <h1>About Us.</h1>
      <hr>
      <h3>We are a growing startup dedicated to provide customers with a secure convinient and easy to use
        service to store their data digitally.
      </h3>
    </div>
    <div class="col-sm-6">
      <img src="../../assets/About us.png" class="img-responsive, img-thumbnail" alt="">
    </div>
  </div>
  <hr class="full">
  <div class="row" id="services">
    <div class="col-sm-6">
      <img src="../../assets/Untitled design.png" class="img-responsive, img-thumbnail" alt="">
    </div>
    <div class="col-sm-6">
      <h1>Our Services.</h1>
      <hr class="half">
      <ol type="I" class="list-group">
        <li><h3>24x7 Service.</h3></li>
        <li><h3>Store data anytime from anywhere.</h3></li>
        <li><h3>Secure and convinient storage of data.  </h3></li>
      </ol>
    </div>
  </div>
  <hr>
  <div class="row" id="contactus">
    <div class="col-sm-6">
      <h1>Contact Us.</h1>
      <hr>
      <div class="row">
        <div class="col-sm-2">
          <img src="../../assets/fb.png" class="img-responsive, img-thumbnail" alt="">
        </div>
        <div class="col-sm-10">
          <a  href="#"><h3>fb.com/E-Godaam</h3></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <img src="../../assets/email.jpg" class="img-responsive, img-thumbnail" alt="">
        </div>
        <div class="col-sm-10">
          <a  href="#"><h3>contactus@egodaam.com</h3></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <img src="../../assets/phone.jpg" class="img-responsive, img-thumbnail" alt="">
        </div>
        <div class="col-sm-10">
          <h3>7000390025</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="../../assets/contactUs.png" class="img-responsive, img-thumbnail" alt="">
    </div>
    
  </div>
  <hr>
</div>